<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login and Registration</title>
    <link rel="stylesheet" href={% static path_css %}>
</head>
<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button class="toggle-btn" onclick="login()">Log In</button>
                <button class="toggle-btn" onclick="register()">Register</button>
            </div>
            <form id="login-form" class="input-group" method="post" action={{ action_login }}>
                <input type="text" name="email" class="input-field" placeholder="Enter Email" required>
                <input type="password" name="password" class="input-field" placeholder="Enter password" required>
                <button type="submit" class="submit-btn">Login</button>
            </form>
            <form id="register-form" class="input-group" method="post" action={{ action_register }} hidden>
                <input type="text" name="email" class="input-field" placeholder="Enter Email" required>
                <input type="text" name="name" class="input-field" placeholder="Enter Name" required>
                <input type="password" name="password" class="input-field" placeholder="Enter password" required>
                <button type="submit" class="submit-btn">Register</button>
            </form>
        </div>
    </div>
    <script>
        var button = document.getElementById("btn");
        var register_form = document.getElementById("register-form");
        var login_form = document.getElementById("login-form");
        function register(){
            button.style.left= "110px";
            register_form.hidden = false;
            login_form.hidden = true;
        }
        function login(){
            button.style.left = "0px";
            register_form.hidden = true;
            login_form.hidden = false
        }
    </script>
</body>
</html>