<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/header.css">
    <header class="header">
  <a href={% url 'homepage' %} class="logo">Django-Ecommerce</a>
  <div class="header-right">

    {% if request.user.is_authenticated %}
      {% if can_manage_content %}
        <a class="active" href={% url 'add_product' %}>Add Product</a>
      {% endif %}
        <a href={% url 'orders' %}>Orders</a>
        <a style="padding: 0px;" href={% url 'cart' %}><img width="40" src="/media/cart_image.png"></a>
        {% if added_to_cart %} <div id="message" class="bubble bubble-top-right">Product added to cart</div> {% endif %}
        <a href="">Profile</a>
        <a href={% url 'logout' %}>Log Out</a>
    {% else %}
        <a href={% url 'template_login' %}>Log In</a>
    {% endif %}
  </div>
</header>
    <script>
        {% if added_to_cart %}
            setTimeout(function() {
                document.getElementById("message").remove();
            }, 2000);
        {% endif %}
    </script>
</head>
{% block content %}
{% endblock %}
</html>
